{% extends 'base.html' %} 

{% block title %} Change Password {% endblock %} 

{% block content %}
<div class = "column is-mobile">

</div>
<br>
<div class = "columns">
    <div class = "column is-one-quarter">

    </div>
    <div class = "column is-half is-centered has-background-success has-shadow">
        <h1 class="title is-4"> Enter New Password </h1>
        <form method = "post" >
            {% csrf_token %} 
            {{ form.as_p }}
            <button type = "submit" value = "Change" > Change </button>
        </form>
    </div>
    {% if form.errors %} <!-- displaying form errors -->
        <div class="alert alert-danger alert-dismissible has-text-grey-dark is-italic" role="alert">
            <div id="form_errors has-text-grey-dark is-italic is-">
                Sorry! 
                {% for key, value in form.errors.items %}
                    {{ value }}
                {% endfor %}
                Please try again!
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}