{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

    {% load static %}

    <div class = "column">
            
    </div>
    <div class = "columns">
        <div class = "column is-one-third">

        </div>
        <h1 class = "title is-1 has-text-danger"> Welcome Back! </h1>
    </div>
    <div class="columns"> <!-- posts -->
        <div class = "column">
            {% for followed in user.profile.follows.all %}
                {% for kill in followed.user.kills.all %} <!-- each post -->
                    <div class="column has-shadow is-offset-one-quarter is-half has-background-success">
                        <div class = "column">

                        </div>
                        <div class = "columns">
                            <div class="media-left">
                                <figure class = "image is-48x48">
                                    <img class = "is-rounded" src = "{{ kill.user.profile.profPic.url }}">
                                </figure>
                            </div>
                            <div class = "content">
                                <h1 class = "is-size-4">
                                   {{ kill.user.username }}
                                </h1>
                                <p class="is-size-12">
                                    ({{ kill.posted_time }})
                                </p>
                                <div class = "column is-fullwidth has-background-white">
                                    {{ kill.caption }}
                                    <div class = "column">
                                        <img class = "is-square" src = "{{ kill.image.url }}" width = '300' />
                                    </div>
                                    <div class = "column">

                                    </div>
                                </div>
                                <div class = "column">

                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class = "column">
                    
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

   <!-- <footer class="footer has-text-centered is-flex-align-items-flex-end mt-auto has-background-success">
        <div class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-info-circle"></i>
            </span>
            <span>Add a Kill</span>
          </div>
    </footer> -->

{% else %}
    <div class = "column">

    </div>
    <br>
    <div class = "columns is-centered">
        
        <div class = "column is-narrow is-centered has-background-success">
            <h1 class="title is-2"> Welcome to LanternDie! </h1>
            <p class = "content is-size-4">You are not logged in.</p>
            Log in or create an account to join your friends 
            <br>
            in the fight against invasive species!
            <br>
            <br>
            <a class="button is-light" href = "{% url 'login' %}">
                Log In
            </a>
            <a class="button is-light" href = "{% url 'lanternDie:registration' %}">
                Create Account
            </a>
        </div>
    </div>

{% endif %}

{% endblock content %}