{% extends 'base.html' %}

{% block content %}

<div class = "column is-mobile">
    <h1 class = "title is-4"> Click on a user below to view their profile </h1>
</div>

<div class = "column">
    
    <!-- listing each user with their prof pic; links to that user's profile -->
    {% for profile in profiles %}

    <div class = "block">
        <div class="card is-success">
            <a href="{% url 'lanternDie:profile' profile.id %}">
                <div class="card-content is-success">
                    <div class="media">
                        <div class="media-left">
                            <figure class = "image is-48x48">
                                <img src = "{{ profile.profPic.url }}">
                            </figure>
                        </div>
                        <div class = "column">
                            <h1 class = "title" > {{ profile.user.username }} </h1>
                        </div>
                    </div>
                </div>               
            </a>
            
        </div>
        
    </div>

    {% endfor %}

</div>

{% endblock content %}