{% extends 'base.html' %} 

{% block content %}

<div class = "columns  is-mobile">
    <div class = "column is-1 is-mobile">
    
    </div>
    <div class = "column is-1">
    
    </div>
    <div class = "column">
        <div class = "columns"> <!-- header with prof pic and user info -->
            <div class="media-left">
                <div class = "column">
                </div>
                <figure class = "image is-48x48">
                    <img class = "has-border-primary" src = "{{ profile.profPic.url }}">
                </figure> 
            </div>
            <div class = "column" style="position:relative">
                <p class = "is-size-2 is-bold has-text-black" > {{ profile.user.username }} </p>
            </div>

        </div> <!-- offering the option to set a profile picture if a user has not already done so, as profile pictures 
            are not automatically set upon account creation -->
        {% if profile.profPic == 'fly.webp' and profile.user.username == user.username %} 
            <p class="has-text-16 is-italic"> To complete your profile, click "Change Profile" and add a profile picture! </p>
        {% endif %}

        <div class = "column is-1">

        </div>
        
       <div class = "columns"> <!-- additional profile information -- kill count, following and followed-by
            dropdowns, -->

            <div class = "column is-1">

            </div>

            <span class = "is-small has-text-grey-dark">
                <strong> Number of kills: {{ profile.killCount }} </strong>
            </span>

            <div class = "column is-1">

            </div>

            <!-- following/followed by lists -->
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                <button class="button has-shadow is-light is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Following </span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for following in profile.follows.all %}
                        {% if following.user.username != profile.user.username %}
                            <a href="{% url 'lanternDie:profile' following.id %}" class="button is-transparent">
                                {{ following.user.username }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if not profile.follows.all %} <!-- redirecting to user list in case there are no followers -->
                        <a href="{% url 'lanternDie:profile_list' %}" class="button is-transparent">
                        Oops! No one here yet.
                        <br>
                        Click to change that!
                        </a>
                    {% endif %}
                </div>
                </div>
            </div>

            <div class = "column is-1">

            </div>

            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                <button class="button is-light is-small" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Followed By </span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
     
                            {% for prof in all_profs %}                        
                                <div class = "columns" align = "center">
                                    {% if profile in prof.follows.all %} 
                                        <a href="{% url 'lanternDie:profile' prof.id %}" class="button is-transparent">
                                            {{ prof.user.username }}
                                        </a>
                                    {% endif %}
                                </div>                                
                            {% endfor %}
                    </div>
                </div>
            </div>
       </div>
    
       <!-- giving the current user (if not their profile) the option to follow/unfollow -->
        {% if profile.user.username != user.username %}  
            <div class = "column">
                <form method = "post"> 
                    {% csrf_token %} <!-- security token to allow users to safely submit forms -->
                    <div class="buttons has-addons">
                        {% if profile in user.profile.follows.all %} <!-- greys out follow button if already following -->
                            <button class="button is-static is-static is-small">Follow</button>
                            <button class="button is-dark is-small" name="follow" value="unfollow">Unfollow</button>
                        {% else %} 
                            <button class="button is-dark is-small" name="follow" value="follow">Follow</button>
                            <button class="button is-static is-small">Unfollow</button>
                    {% endif %}
                    </div>
                </form>
            </div>
        {% endif %}

        <div class = "column">

        </div>

        <div class="columns"> <!-- listing all of a user's posts -->
            <div class = "column">
                {% for kill in ordered_kills %}
                    <div class="column has-shadow has-background-success has-shadow">
                        <div class = "block is-small has-text-black is-6">
                            {{ kill.caption }}
                        </div>
                        <span class="is-8 has-text-grey-dark">
                            ({{ kill.posted_time }})
                        </span>
                        <div class = "column is-offset-one-quarter">
                            <img class = "box" src = "{{ kill.image.url }}" width = '600' />
                        </div>
                    </div> 
                    <div class = "column">

                    </div>
                {% endfor %}
                {% if profile.killCount == 0 %}
                    <span class = "is-small is-italic is-grey-dark">
                        Sorry, no kills yet!
                    </span>
                {% endif %}
            </div>
        </div>
    
    </div>
    
    <!-- profile changing options for active user only -->
    <div class = "column is-one-quarter is-mobile">
    
        <div class = "column">
            {% if profile.user.username == user.username %}  
                <div class = "column">

                </div>
                <div class = "column">

                </div>
                <a class = "button is-light" href="{% url 'lanternDie:changeProf' %}">
                    Change Profile
                </a>
                <div class = "column">

                </div>
                <a class = "button is-light" href="{% url 'lanternDie:change_password' %}">
                    Change Password
                </a>
                <div class = "column">
                    
                </div>
               
            {% endif %}

        </div> 
    </div>
    <div class = "column is-1">
    
    </div>
</div>

{% endblock content %}